@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,500;0,700;1,100&display=swap');
@import 'flatpickr/dist/flatpickr.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer components {
  .input-fx {
    @apply border-0 border-l-4 border-transparent border-l-primary bg-secondary text-xl placeholder-transparent hover:bg-secondary-hover focus:border-b-2 focus:border-primary focus:bg-secondary-focus focus:placeholder-neutral-content/80 focus:outline-4 focus:outline-offset-4 focus:ring-0 disabled:pointer-events-none disabled:border-neutral-content/80 disabled:bg-opacity-50;
  }
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.__animated-cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  animation: cursor 0.4s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #f9f6f8;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f9f6f8;
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 14px;
  border: 1px solid #f9f6f8;
}
